.cardContent {
  display: block;
  margin: 0 5px;
  border-radius: 5px;
  border-color: #dce4ed;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  width: 150px !important;
}

.cardImg {
  width: 146px;
  height: 120px;
  margin: 0;
  margin-bottom: 10px;
  background-color: #b2d7ff;
  border-top: 15px;
  float: right;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.cardDetail {
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  background-color: #0070ff;
  width: auto;
  padding-bottom: 15px;
}

.cardTitle {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 15px;
  color: #fff;
  padding-left: 8px;
  margin-bottom: 13px;
}
.cardDescButton {
  font-family: arial;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.3s;
  padding: 5px 5px;
  display: inline-block;
  margin-left: 8px;
}
.codeDescButton:hover {
  background-color: #ffff;
  color: #0070ff;
}
